{% extends "base.html.twig" %}

{% block title %}Game Documentation{% endblock %}

{% block body %}
    <h1>Documentation</h1>
    <h3>Tankar</h3>
    <p>
        Jag funderar på att skapa en game klass som sköter logiken bakom spelet. Tanken är att den håller bankens hand, spelarens hand och kortleken.
        Klassen ska ha metoder för att: kolla om spelet är slut (har handen över 21?), kolla om en hand innehåller ett ess och kanske hantering av ess?
        Är spelet slut men en hand innehåller ett ess så sätts värdet på esset till 1. Jag tror även att jag kommer modifiera DeckOfCards klassen och lägga till en metod för att dra kort fram tills värdet av de dragna korten är 17 eller mer.
        Då min kod fungerar så att kortleken drar korten och inte handen så kommer jag nog även behöva bygga ut CardHand med en metod för att loopa igenom en array av kort och lägga till dem.
        Det gör att jag inte behöver lägga loopen i controllern sen.
    </p>
    <h3>Klasserna</h3>
    <p>
        <b>CardGraphic</b> - Det viktiga med kortet i detta fall är värdet då vi måste veta värdet som handen innehåller.
        Jag väljer att arbeta vidare med CardGraphic då det kommer se trevligare ut visuellt när jag är klar. 
    </p>
    <p>
        <b>CardHand</b> - En hand håller korten som dras från kortleken. Vi behöver denna klass för att visa upp spelarens värde.
    </p>
    <p>
        <b>DeckOfCards</b> - Innehåller de 52 kort vi skall använda oss av. Vi behöver en kortlek för att kunna spela ett kortspel.
    </p>
    <p>
        <b>Game</b> - Tänkt att ansvara för logiken bakom spelet. 
    </p>
    <h3>Pseudokod</h3>
    <p>
        När spelaren trycker på start game postas det till en route som initierar spelet och sedan redirectar till spelrouten.
        Spelrouten ansvarar för att kolla om spelet är över.
    </p>
    <h4>
        button -> init -> view.
    </h4>
    <p>
        Spelaren kan trycka på två knappar, Draw och Stay.
    </p>
    <h4>Draw -> add card to hand from deck -> update players points -> See if player got over 21 points -> IF TRUE flash msg and set game over -> view</h4>
    <h4>Stay -> add card to bank while bank has less than 17 points -> update banks points -> See if bank got over 21 points -> IF TRUE player won -> IF FALSE get winner -> set game over -> view</h4>
    <p>
        Jag hittade en hemsida där man kunde skriva pseudokod i en editor: <a href="https://pseudoeditor.com/app/">pseudoeditor</a>.
    </p>
    <p>
        Med hjälp av hemsidan så framställde jag bilden nedan.
    </p>
    <a href="{{ asset('img/pseudo.png') }}">
        <img class="quarter-width" src="{{ asset('img/pseudo.png') }}" alt="lite pseudokod">
    </a>
    <p>
        För dokumentationens skull tänkte jag visa upp hur jag brukar skriva medan jag arbetar för att underlätta mitt tänkande.
    </p>
    <a href="{{ asset('img/minprocess.png') }}">
        <img class="quarter-width" src="{{ asset('img/minprocess.png') }}" alt="En flowchart för spelet.">
    </a>
    <h3>Flowchart</h3>
    <a href="{{ asset('img/TwentyOneFlowchart.png') }}">
        <img class="quarter-width" src="{{ asset('img/TwentyOneFlowchart.png') }}" alt="En flowchart för spelet.">
    </a>
{% endblock %}