{% extends "base.html.twig" %}

{% block title %}API Page{% endblock %}

{% block body %}
    <h1>API Page</h1>
    <div class="json-deck-box">
        <a class="button" href="{{ path('api_quote')}}">Quote</a>
        <p> - Get a random quote, todays date, day and current time.</p>
    </div>
    <div class="json-deck-box">
        <a class="button" href="{{ path('api_deck')}}">Deck</a>
        <p> - Display a deck of cards in JSON format.</p>
    </div>
    <div class="json-deck-box">
        <form method="post" action="{{ path('api_deck_shuffle')}}">
            <input class="button" type="submit" name="do_it" value="Shuffle">
        </form>
        <p> - Shuffle a deck of cards and display it in JSON format.</p>
    </div>
    <div class="json-deck-box">
        <form method="post" action="{{ path('api_deck_draw')}}">
            <input class="button" type="submit" name="do_it" value="Draw">
        </form>
        <p> - Draw a card from the deck and display it in JSON format.</p>
    </div>
    <div class="json-deck-box">
        <form method="post" action="{{ path('api_setup_draw_many')}}">
            <input class="button-appearance" type="number" name="num_cards" min="1" max="52" value="1">
            <input class="button" type="submit" name="do_it" value="Draw">
        </form>
        <p> - Enter the amount of cards you would like to draw.</p>
    </div>
    <div class="json-deck-box">
        <form method="post" action="{{ path('api_twenty_one_game')}}">
            <input class="button" type="submit" name="do_it" value="Game">
        </form>
        <p> - View the current active game.</p>
    </div>
    <div class="json-deck-box">
        <a class="button" href="{{ path('api_library')}}">Library</a>
        <p> - Display all books in the library.</p>
    </div>
    <div class="json-deck-box">
        <a class="button" href="{{ path('api_specific_book', {'isbn': 9780241341469})}}">Book</a>
        <p> - Search on a books ISBN to display it. This button provides an example link.</p>
    </div>
{% endblock %}