{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    <div class="expander">
        <h1>Update the book</h1>
        <form method="post" action="{{ path('book_update_post', {'bookId':book.id}) }}">

            <label class="input-label" for="title">Title</label>
            <input type="text" class="input" minlength="1" maxlength="255" name="title" value="{{book.title}}">

            <label class="input-label" for="author">Author</label>
            <input type="text" class="input" minlength="1" maxlength="255" name="author" value="{{book.author}}">

            <label class="input-label" for="isbn">ISBN</label>
            <input type="number" class="input" name="isbn" value="{{book.isbn}}">

            <label class="input-label" for="image">Image URL</label>
            <input type="text" class="input" maxlength="255" name="image" value="{{book.img}}">

            <input type="submit" class="button" name="send" value="Update">
        </form>
    </div>
{% endblock %}
